header {
  position: fixed;
  top: 0px;
  left: 0px;
/*   height: 3em; */
  width: 100%;
 background-color: #FFFFFF;
  z-index: 1;
}

header button {
  font-size: 1.8em;
}

header form {
  z-index: 1;
}

header > div {
    display: inline-block;
}

main {
  position: relative;
  top: 3em;
  z-index: 0;
}
